KEY=change-me-32-chars-min
SECRET=change-me-32-chars-min

DB_CLIENT=pg
DB_HOST=db.example.internal
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=directus_admin
DB_PASSWORD=replace-me
DB_SSL__REJECT_UNAUTHORIZED=false

ADMIN_EMAIL=admin@accioncivilgandia.org
ADMIN_PASSWORD=change-this-now

PUBLIC_URL=https://cms.accioncivilgandia.org
